<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="camera_array" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>
    
    <link name="${name}_base_link">
   <!--  <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
      <visual>
        <origin xyz="-0.12 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1905 0.0762 0.0857" />
        </geometry>
        <material name="Silver">
          <color rgba="0.75 0.75 0.75 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1905 0.0762 0.0857" />
        </geometry>
      </collision> -->
    </link>
    <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/> -->
    <VLP-16 parent="${name}_base_link" name="vlp16_port" topic="ns1/velodyne_points" hz="10" samples="440">
    <origin xyz="-0.10  0.0 0.0623" rpy="0 0 0" />
    </VLP-16>

    <VLP-16 parent="${name}_base_link" name="vlp16_starboard" topic="ns2/velodyne_points" hz="10" samples="440">
    <origin xyz="-0.10 -1.32 0.0623" rpy="0 0 0" />
    </VLP-16>

    <!-- <xacro:include filename="$(find agv)/urdf/camera_case.urdf.xacro"/>     -->
    <camera_case parent="${name}_base_link" name="cam_0">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </camera_case>

    <camera_case parent="${name}_base_link" name="cam_1">
    <origin xyz="0 -0.33 0" rpy="0 0 0" />
    </camera_case>

    <camera_case parent="${name}_base_link" name="cam_2">
    <origin xyz="0 -.66 0" rpy="0 0 0" />
    </camera_case>

    <camera_case parent="${name}_base_link" name="cam_3">
    <origin xyz="0 -0.99 0" rpy="0 0 0" />
    </camera_case>

    <camera_case parent="${name}_base_link" name="cam_4">
    <origin xyz="0 -1.32 0" rpy="0 0 0" />
    </camera_case>

    <!-- <xacro:include filename="$(find agv)/urdf/imu.urdf.xacro"/> -->
    <imu parent="${name}_base_link" name="imu">
    <origin xyz="-.15 -0.66 0" rpy="0 0 0" />
    </imu>

  </xacro:macro>

</robot>
